.product{
    display:flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}
.product__price{
    margin-top:5px;
}
.product__rating{
    display:flex;
}
.product > Button{  
    background-color: #f3cb69;
    border: 1px solid #ff9900;
    margin-top: 10px;
    color: #111;
}
.product > Button:hover{
    background-color: #f4c44c;
}
.product > Button{
    text-transform: unset;
    font-weight: 200;
}